p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
  
    span {
      font-size: 12px;
      display: block;
      color: #004d62;
      text-decoration: underline;
    }
  }