<div class="register-photo">
  <div class="form-container">
    <form [formGroup]="signUpUserForm" (ngSubmit)="signUp()">
      <h2 class="text-center">
        <strong>Create</strong> an account.</h2>
      <div class="form-group">
        <input class="form-control" type="text" formControlName="name" name="name" placeholder="Name">
      </div>
      <div class="form-group">
        <input class="form-control" type="email" formControlName="email" name="email" placeholder="Email">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" formControlName="password" name="password" placeholder="Password">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" name="confirmPassword" formControlName="confirmPassword"
          placeholder="Confirm password">
      </div>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" (click)="agree()">I agree to the license terms.</label>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="!isAgreed" class="btn btn-primary btn-block" type="submit">Sign Up</button>
      </div>
      <p class="text-center">Already have an account ?<span
        routerLink="/">Login Here</span></p>
    </form>
  </div>
</div>